/* Marquee Text Component Styles */

.marquee-text-container {
    display: flex;
    align-items: center;
}

.marquee-text-move {
    display: flex;
    /* padding: 3vw 0; */
    background-color: transparent;
}

.marquee-text-marquee {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    gap: 3vw;
    /* padding: 2px 1.5vw; */
    transform: translateX(-100%);
}

.marquee-text-marquee h1 {
    font-size: 11vw;
    color: #f4efe7;
    font-weight: 500;
    margin: 0;
    white-space: nowrap;
}