.preloader-progress,
.preloader-mask,
.preloader-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100svh;
    pointer-events: none;
}

.preloader-progress {
    background-color: var(--base-200);
    z-index: 1;
    will-change: transform;
}

.preloader-progress-bar {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    width: 55%;
    height: 100%;
    background-color: var(--base-300);
    transform-origin: left;
    will-change: transform;
}

.preloader-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    mix-blend-mode: difference;
    z-index: 2;
}

.preloader-logo h1 {
    position: relative;
    color: var(--base-300);
    font-size: 3rem;
    font-weight: 500;
    line-height: 1;
}

.preloader-mask {
    background-color: var(--base-100);
    mask:
        linear-gradient(var(--base-300), var(--base-300)),
        url("../../../public/preloader-bg.svg") center/50% no-repeat;
    mask-composite: subtract;
    will-change: transform;
    z-index: 1;
}

.preloader-content {
    z-index: 2;
}

.preloader-footer {
    position: absolute;
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    text-align: center;
}

.preloader-footer p {
    color: var(--base-300);
    opacity: 0.5;
}

.line,
.char {
    position: relative;
    padding-bottom: 0.2rem;
    margin-bottom: -0.2rem;
    will-change: transform;
}